db.sqlite3

__pycache__/
*.py[cod]

venv/
.venv/

.idea/
.vscode/
*.code-workspace

*.session

.env
*.env

/media/

dump.sql

**/migrations/*
!**/migrations/__init__.py

logs/
*.log
*.out
*.pid
*.swp
*.swo

/staticfiles/
/static/
node_modules/

.DS_Store

Thumbs.db
ehthumbs.db